/* Mixin, Herança e diretivas de controle */
    
//Mixin
@mixin titulo($cor, $cor-bg) {
    color: $cor;
    background: $cor-bg;
    padding: 10px 5px;
}

h1 {
    @include titulo(white, black);
}

h2 {
    @include titulo(yellow, green);
}


//Herança 
/* Múltiplas diretivas */
.classe1 {
    color: red;
}
.classe2 {
    background: black;
}

.vermelho { //essa classe está extendendo as outras duas;
    @extend.classe1;
    @extend.classe2;
}


/* Encadeamento de diretivas */
.pai {
    color: red;
}
.filho {
    @extend .pai;
    background: black;
}

.erro {
    @extend .filho;
    padding: 10px;
    border: 1px solid red;
}



/* Placeholders(%) */
%pai {
    color: red;
}
%filho {
    @extend %pai;
    background: black;
}

.erro {
    @extend %filho;
    padding: 10px;
    border: 1px solid red;
}



//Diretivas de controle
$cor: red;
@if($cor == green){
    p{
        color: $cor;
    }
}@else if($cor == red){
    p{
        color: $cor;
    }
}@else{
    p{
        color: black;
    }
}

/* diretivas de controle e mixins */
@mixin tema($tema: padrao) {
    @if($tema == natal){
        background: red;
        color: white;
        padding: 10px;
    }@else if($tema == blackfriday){
        background: black;
        color: white;
        padding: 10px;
    }@else{
        background: white;
        color: gray;
        padding: 10px;
    }
}

p{
    @include tema(blackfriday);
}

/**********************************************************/


//PRATICAR SASS

    /* each */
    $lista: green, gray, red;
    $contador: 1;

    @each $cor in $lista {
        .item-#{$contador} {
            background: $cor;
            padding: 10px;
            margin: 5px;
        }

        $contador: $contador + 1;
    }


    /* for */
    @for $tag from 4 through 6 {
        .item-#{$tag} {
            background: blue;
            padding: 10px;
            margin: 5px;
        }
    }

    /* while */
    $cor: orange;
    $contador: 7;
    @while ($contador < 10){
        .item-#{$contador} {
            background: $cor;
            padding: 10px;
            margin: 5px;
            width: 300px;
        }

        $contador: $contador + 1;
    }


    
    /* funções */
    $total: 12;
    @function largura-coluna($coluna){

        //retornará o resultado em porcentagem;
        @return percentage($coluna/$total);

    }

    $resultado: largura-coluna(12);
    //#{$resultado};

    
    
    
    /* outras funções: */
    .alerta {
        /* mistura as cores + % */
        //background: mix(green, yellow, 40%);

        /* deixa as cores mais escuras + % */
        //background: darken(yellow, 30%);

        /* deixa as cores mais claras + % */
        background: lighten(blue, 25%);

    }

        ///////////////////////////////
    
    /* Mixin */
    @mixin paragrafo($cor, $cor-bg, $padd, $marg){
            color: $cor;
            background: $cor-bg;
            padding: $padd;
            margin: $marg;
    }

    .mixin{
        @include paragrafo(white, blue, 15px, 10px);
    }


    /* Herança Múltiplas diretivas */
    .classe1{
        color: white;
        background: green;
    }

    .classe2{
        padding: 15px;
        margin: 10px;
    }

    .class-principal{
        @extend.classe1;
        @extend.classe2;
    }


    /* Encadeamento de diretivas */
    .pai{
        color: black;
        font-size: 2em;
    }

    .filho{
        @extend.pai;
        background: white;
    }

    .classe-principal2{
        @extend.filho;
    }

    
    /* Diretivas de controle */
    $cor: orange;
    @if($cor == red){
        .dc{
            color: $cor;
            background: green;
            font-size: 1.5em;
        }
    }@else if($cor == blue){
        .dc{
            color: $cor;
            background: black;
            padding: 10px;
        }
    }@else{
        .dc{
            color: orange;
            background: green;
        }
    }


    /* Diretivas de controle e mixins */
    @mixin mensagem($mensagem: viagem){
        @if($mensagem == passeio){
            color: blue;
        }@else if($mensagem == volta){
            color: blue;
            background: black;
        }@else{
            color: white;
            background: blue;
            font-size: 1em;
        }
    }

    .mixin2{
        @include mensagem(viagem);
    }
